 <div class="row" id="contact">
      <div class="col-sm-4">
        <h2>CONTACT ME</h2>
        <div><a href="mailto:florenciagalindezcasas@hotmail.com" >florenciagalindezcasas@hotmail.com</a></div>
        
        <div> <a href="https://wa.me/+543541643772?text= Hola, vi tu portfolio y me quiero contactar con vos">
                (+54) 3541 643772
            </a>
        </div>
        </div>
        
      <div class="col-sm-8">
        <form action="mailto:florenciagalindezcasas@hotmail.com" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Nombre y Apellido</label
            >
            <input type="name" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" />
          </div>
          <div class="mb-3">
            <label for="exampleInputComment" class="form-label"
              >Comentario</label
            >
            <textarea class="form-control"></textarea>
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>
      </div>
    </div>

