  <div class="row" id="footer">      
        <div class="col-sm-8">
          <ul>
            <li>
              <a href="https://github.com/FlorenciaGalindezCasas">
                <i class="fa-brands fa-github fa-beat"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/florenciagalindezcasas/">
                <i class="fa-brands fa-linkedin fa-beat"></i>
              </a>
            </li>
            <li>
              <a href="https://wa.me/+543541643772?text= Hola, vi tu portfolio y me quiero contactar con vos">
                <i class="fa-brands fa-whatsapp fa-beat"></i>
              </a>
            </li>    
        
          </ul>
        </div>
        
      </div>
    