<div class="row" id="home">
        <div  id="pres">
            <div class="nombre">
              <h2>Hi! I'm</h2>
              <span >F</span>
              <span >l</span>
              <span >o</span>
              <span >r</span>
              <span >e</span>
              <span >n</span>
              <span >c</span>
              <span >i</span>
              <span >a</span>
            </div>
          <h2>Full Stack Developer</h2>
          <button id="cv"><a href="assets/CV/Florencia Denis Galindez Casas.pdf">DOWNLOAD CV</a></button>
        </div>

        <div id="up">
           <a href="#">UP
            <i class="fa-solid fa-arrow-up fa-beat"></i>
           </a>
        </div>
        <!--Nombre-->

        <!--Foto-->
</div>
