 <div class="row" id="proyects">
      <div class="col-sm-8">
        <p>
          Este proyecto se trata de la creacion de un homebanking. El frontend fue realizado con HTML, CSS, Bootstrap, JavaScript y el backend con Python, Django y SQLite. Durante el desarrollo del mismo se trabajo con metodologia agil SCRUM.
          <a href="http://florenciagc.pythonanywhere.com/"><img src="assets\img\homebanking.png" alt="homebanking"></a>
        </p>
      </div>
      <div class="col-sm-4">
        <h2>PROJECTS</h2>
      </div>
    </div>
