 <div class="row" id="skills">
      <div class="col-sm-4">
        <h2>SKILLS</h2>
      </div>
      <div class="col-sm-8">
        <ul>
          <li><a href="#" id="html"><img src="assets\img\html-logo-png-3.png" alt="HTML"></a></li>
          <li><a href="#" id="css"><img src="assets\img\css3-logo.png" alt="CSS"></a></li>
          <li><a href="#" id="js"><img src="assets\img\logo-javascript-2-300x300.png" alt="JavaScript"></a></li>
          <li><a href="#"><img src="assets\img\Bootstrap_(front-end_framework)-Logo.wine.png" alt="Bootstrap"></a></li>
          <li><a href="#"><img src="assets\img\Python_(programming_language)-Logo.wine.png" alt="Python"></a></li>
          <li><a href="#"><img src="assets\img\Django_(web_framework)-Logo.wine.png" alt="Django"></a></li>
          <li><a href="#"><img src="assets\img\Java_(programming_language)-Logo.wine.png" alt="Java"></a></li>
          <li><a href="#"><img src="assets\img\TypeScript-Logo.wine.png" alt="TypeScript"></a></li>
          <li><a href="#"><img src="assets\img\GitHub-Logo.wine.png" alt="GitHub"></a></li>
          <li><a href="#"><img src="assets\img\React_(web_framework)-Logo.wine.png" alt="React"></a></li>
          <li><a href="#"><img src="assets\img\C++-Logo.wine.png" alt="C++"></a></li>
          <li><a href="#"><img src="assets\img\SQLite-Logo.wine.png" alt="SQLite"></a></li>
          <li><a href="#"><img src="assets\img\MySQL-Logo.wine.png" alt="MySQL"></a></li>
          <li><a href="#"><img src="assets\img\Spring_Framework-Logo.wine.png" alt="Springboot"></a></li>
          <li><a href="#"><img src="assets\img\Apache_Tomcat-Logo.wine.png" alt="ApacheTomcat"></a></li>
        </ul>
      </div>
    </div>
